<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Date</th>
                <th>Bet</th>
                <th>Bet amount</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
        {% for bet in bets %}
            <tr class="{% if bet.status %}success{% else %}danger{% endif %}">
                <td>{{ bet.id }}</td>
                <td>{{ bet.betAt|date("d-m-Y H:i") }}</td>
                <td>{{ bet.bet|betType }}</td>
                <td>{{ bet.amount }}</td>
                <td>{{ bet.amount|betResult(bet.bet, bet.status) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
                