{% extends 'base_game.html.twig' %}

{% block page_title %} {{ page_title }} {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="game_page_title">Roulette</h1>
            <p class="overview_description">PLAYYYYYY</p>
            
            <div class="roulette-alerts">
            <div class="alert alert-danger" style="display: none">
                <p>You have lost this time :(</p>
            </div>
            
            <div class="alert alert-success" style="display: none">
                <p>You have won this time!! :D</p>
            </div>
            </div>
            
            <div class="roulette-erors">
                <div class="alert alert-danger" style="display: none"></div>
            </div>
            
            <div id="roulette" class="center-block">
                <div class="roulette-image"></div>
                <div class="roulette-pointer"></div>
                
                <div class="col-xs-12">
                    <input type="number" name="bet" id="bet" class="form-control" placeholder="Bet amount...">
                </div>
                <div class="bet-buttons">
                    <div class="col-md-4">
                        <a class="spin btn btn-danger" data-spin="1">Red (2x)</a>
                    </div>
                    <div class="col-md-4">
                        <a class="spin btn btn-success" data-spin="2">Green (36x)</a>
                    </div>
                    <div class="col-md-4">
                        <a class="spin btn btn-inverse" data-spin="3">Black (2x)</a>
                    </div>
                    <div class="col-md-4">
                        <a class="spin btn btn-default" data-spin="4">1 to 12 (3x)</a>
                    </div>
                    <div class="col-md-4">
                        <a class="spin btn btn-default" data-spin="5">13 to 24 (3x)</a>
                    </div>
                    <div class="col-md-4">
                        <a class="spin btn btn-default" data-spin="6">25 to 36 (3x)</a>
                    </div>
                </div>
            </div>
            
            <div id="last-bets">
                {{ render(controller('AppBundle:Roulette:lastBets')) }}
            </div>
            
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
{#    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>#}
    <script src="{{ asset('js/fos_js_routes.js') }}"></script>
    <script>
        var numOrder = [0,32,15,19,4,21,2,25,17,34,6,27,13,36,11,30,8,23,10,5,24,16,33,1,20,14,31,9,22,18,29,7,28,12,35,3,26];
        var numRed = [32,19,21,25,34,27,36,30,23,5,16,1,14,9,18,7,12,3];
        var numBlack = [15,4,2,17,6,13,11,8,10,24,33,20,31,22,29,28,35,26];
        var numGreen = [0];
        var numLocation = [];
        
        var fixedWidth = 2220;
        var fixMargin = 265;
        var sliceWidth = 60;
        
        var spinTo;
        
        var tmpRand;
        var win = false;
        
        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }
        
        function createWheel(){
            for(i = 0; i < numOrder.length; i++){
                var tmpScope = fixedWidth / numOrder.length;
                
                numLocation[numOrder[i]] = [];
                numLocation[numOrder[i]][0] = fixMargin - i*tmpScope;
                numLocation[numOrder[i]][1] = fixMargin - i*tmpScope + tmpScope;
                                
            }
        }
        
        function spinLocation(number){
            var spins = getRandomInt(3,7);
            var spaceRandom = getRandomInt(0, sliceWidth);
            spinTo = numLocation[number][0] + spins*fixedWidth - spaceRandom;
        }
        
        function resetWheel(){
            $('.roulette-image').css('background-position-x', '0');
            tmpRand = getRandomInt(0,36);
        }
        
        function refreshBalance(){
            $.get("{{ path("game_get_coins") }}", function(data){
                $('.balance').html(data);
            });
        }
        
        function refreshLastBets(){
            $.get("{{ path("game_roulette_last_bets") }}", function(data){
                $('#last-bets').html(data);
            });
        }
        
        function checkResult(type, tmpRand){
            switch(parseInt(type)){
                case 1:
                    if($.inArray(tmpRand, numRed) > -1){
                        win = true;
                    }
                    break;
                case 2:
                    if($.inArray(tmpRand, numGreen) > -1){
                        win = true;
                    }
                    break;
                case 3:
                    if($.inArray(tmpRand, numBlack) > -1){
                        win = true;
                    }
                    break;
                case 4:
                    if(tmpRand >=1 && tmpRand <= 12){
                        win = true;
                    }
                    break;
                case 5:
                    if(tmpRand >=13 && tmpRand <= 24){
                        win = true;
                    }
                    break;
                case 6:
                    if(tmpRand >= 25){
                        win = true;
                    }
                    break;
            }
            if(win){
                $('.roulette-alerts .alert').hide();
                $('.roulette-alerts .alert-success').fadeIn('slow');
            } else{
                $('.roulette-alerts .alert').hide();
                $('.roulette-alerts .alert-danger').fadeIn('slow');
            }
            
            refreshBalance();
            refreshLastBets();
        }
                
        createWheel();
        
         $('body').on('click', '.spin', function(){
            win = false;
            var type = $(this).attr('data-spin');
            var amount = $('#bet').val() !== '' ? $('#bet').val() : 0;
            if(amount <= 0) return;
            $.ajax({
                url: Routing.generate('roulette_bet', {type: type, amount: amount}),
                method: 'GET'
            }).done(function(data){
                if(data.status === 'ok'){
                    var number = data.message;
                    resetWheel();
                    spinLocation(number);
                    $('.roulette-image').animate({
                        'background-position-x' : '+='+spinTo+'px'
                    },5000, function(){
                       checkResult(type, number); 
                    });
                }
            });
        });
        
    </script>
{% endblock %}