{% extends 'base_game.html.twig' %}

{% form_theme form 'form/inline_form.html.twig' %}

{% block page_title %} {{ page_title }} {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="game_page_title">Your warehouse</h1>
            <p class="overview_description">Here you can find seeds and vegetables you have. Each seed gives you at least an one vegetable. 
                Luck can be increased by upgrades</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
        {% if items %}
            {% for item in items %}
                <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
                    <div class="vegetable">
                    <img src="{{ asset(item.imageUrl) }}" alt="{{ item.name }}" class="img-responsive" />
                    {% if app.user.vegetables[ item.id ] is defined %}
                        {{ app.user.vegetables[ item.id] }}
                    {% else %}
                        <p>0</p>
                    {% endif %}
                </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-info">Seems you don't have any items.</div>
        {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1 class="game_page_title">Your farm</h1>
            {% if fertilizerLevel > 0 %}
                <a href="{{ path('game_fertilize') }}">Fertilize your farm</a>
            {% endif %}
            {% if farmLevel == 0 %}
                <div class="alert alert-info">You have to buy a farm before you start sowing.</div>
                
            {% else %}
                <div class="row">
                    <div class="col-xs-12">
                    {{ form_start(form, {'action': path('game_sow_seed'), 'method': 'POST'}) }}
                    {{ form_row(form.seed) }}
                    {{ form_row(form.amount) }}
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Sow</button>
                    </div>
                    {{ form_end(form) }}
                    </div>
                </div>
            {% endif %}
                <div class="row">
                    <div class="col-xs-12">
                        <div id="queue-container">
                            {{ render(controller('AppBundle:Crop:getCrops')) }}
                        </div>
                        <div id="queue"></div>            
                        {% if numCrops != 0 %}
                            <a href="{{ path('game_harvest') }}" class="btn btn-success center-block harvest" style="display: none">HARVEST</a>
                        {% endif %}
                    </div>
                </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        
        function updateCrops(){
            $('.queue-item').each(function(){
                var now = new Date().getTime();
                var sowedAt = new Date($(this).find('.queue-item-finish').attr('data-sowedAt')).getTime();
                var finishAt = new Date($(this).find('.queue-item-finish').attr('data-finishat')).getTime();

                var totalTime = finishAt - sowedAt;
                var toNow = now - sowedAt;

                var progress = ((toNow/totalTime)*100).toFixed(2);

                if(progress > 100){
                    progress = 100;
                    $('.harvest').fadeIn('slow');
                }


                $(this).find('.progress-bar').html(progress+'%');
                $(this).find('.progress-bar').attr('aria-valuenow', progress).css('width', progress+'%');
            });
        }
        
        updateCrops();
        setInterval(updateCrops, 500);
               
    </script>
{% endblock %}