<div id="modal-{{ id }}" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ title }}</h4>
            </div>
            <div class="modal-body modal-upgrade">
                <div class="modal-upgrade-image">
                    <img src="{{ asset("uploads/images/upgrades/#{image}") }}" class="center-block" />
                </div>
                {% block description %}
                {% spaceless %}
                <p>Lorem ipsum dolores</p>
                
                <p>Price: {{ price }}</p>
                
                <a href="{{ path('game_upgrade_farm_buy', {'id' : id }) }}" class="btn btn-success">Buy</a>
                
                {% endspaceless %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>