{% extends 'base_game.html.twig' %}

{% block page_title %} {{ page_title }} {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="game_page_title">Upgrade your farm</h1>
            <p class="overview_description">A good place to manage your farming buisness. Upgrades are convient and give you some benefits. Ones are
            to save your time, another ones give you more coins.</p>
            <p class="overview_description">You have to unlock their level by level, each costs a bit...</p>
        </div>
    </div>

    {% for category in categories %}
    {% spaceless %}
        <div class="row">
            <div class="col-xs-12">
                <h4>{{ category.name }}</h4>
            </div>
            {% for level in category.levels %}
                {{ render(controller('AppBundle:Upgrade:show', {'id': level.id })) }}
                <div class="col-md-4">
                    <img src="{{ asset("uploads/images/upgrades/#{level.image}") }}" alt="{{ level.level }}" title="{{ level.level }}" class="upgrade-img" data-upgrade-id="{{ level.id }}" />
                </div>
            {% endfor %}
        </div>
    {% endspaceless %}
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('body').on('click', '.upgrade-img', function(){
            var id = $(this).attr("data-upgrade-id");
            $('#modal-'+id).modal('show');
        });
        </script>
{% endblock %}
    