{% extends 'base.html.twig' %}

{% block page_title %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="user_area">
                <p class="welcome_paragraph">Welcome, {{ app.user.username }}</p>
                <div id="account_details">
                    <p class="balance">{{ render(controller('AppBundle:Game:getCoins')) }}</p>
                    {#
                    <p>{{ app.user.credits }} credits</p>#}
                </div>
                <ul class="sidebar_menu">
                    <li><a href="{{ path('game_overview') }}"><i class="fa fa-sun-o" aria-hidden="true"></i>  Your farm</a></li>
                    <li><a href="{{ path('game_seed_shop') }}"><i class="fa fa-shopping-bag" aria-hidden="true"></i>  Seed shop</a></li>
                    <li><a href="{{ path('game_market') }}"><i class="fa fa-shopping-bag" aria-hidden="true"></i>  Market</a></li>
                    <li><a href="{{ path('game_roulette') }}"><i class="fa fa-diamond" aria-hidden="true"></i> Roulette</a></li>
                    <li><a href="{{ path('game_upgrade_farm') }}"><i class="fa fa-shopping-bag" aria-hidden="true"></i>  Upgrade farm</a></li>
                    <li><a href=""><i class="fa fa-shopping-bag" aria-hidden="true"></i>  Quests</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9 col-md-7">
            <div class="content_area">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% block content %}
                    
                {% endblock %}
            </div>
        </div>
        <div class="col-md-2">
            {#<div class="sidebar">
                <div class="adv">Adverts! :(</div>
            </div>#}
        </div>
    </div>
{% endblock %}