<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>{% block page_title %}{% endblock %} | Farm Game</title>

        <!-- Bootstrap -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <header id="main_header">
                    <nav class="navbar navbar-default">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#">LOGO</a>
                            </div>
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right menu">
                                    <li><a href="{% if is_granted('ROLE_USER') %}{{ path('game_overview') }}{% else %}{{ path("page_index") }}{% endif %}">Home</a></li>
                                    <li><a href="{{ path('page_help') }}">Help</a></li>
                                    <li><a href="{{ path('page_faq') }}">FAQ</a></li>
                                    <li><a href="{{ path('page_contact') }}">Contact</a></li>
                                        {% if is_granted('ROLE_USER') %}
                                        <li><a href="{{ path('fos_user_security_logout') }}" >Logout</a></li>
                                        {% else %}
                                        <li><a href="{{ path('fos_user_security_login') }}" >Login</a></li>
                                        {% endif %}

                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container -->
                    </nav>
                {% block header %}{% endblock %}
            </header>
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
    <div class="container">
        <div id="content_page">
            {%block body %}{% endblock %}
        </div>
    </div>

<div class="container-fluid">
    <div class="row">
        <footer>

        </footer>
    </div>
</div>

{%block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>