{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
{{ form_row(form.name) }}
{{ form_row(form.username) }}
{{ form_row(form.email) }}
{{ form_row(form.btc_address) }}
{{ form_row(form.plainPassword) }}

<div class="form-group">
    <div class="col-sm-10 col-md-9 col-sm-offset-2 col-md-offset-3">
        <button type="submit" name="register_save" class="btn btn-primary btn-lg">{{ 'registration.submit'|trans }}</button>
    </div>
</div>
{{ form_end(form) }}