{% extends 'base.html.twig' %}

{% block page_title %} {{ page_title }} {% endblock %}

{% block header %}
    <div class="container">
        <div id="welcome_block">
            <div class="row">
                <div class="col-xs-12 col-md-3 col-md-offset-1">
                    <img src="{{ asset('images/man.png') }}" alt="man who encourages people to join" class="img-responsive center-block" />
                </div>
                <div class="col-xs-12 col-md-8">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1 id="welcome_title">Farming Game</h1>
                            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ips</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <a href="" class="join_btn">JOIN NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div id="how_to_play">
                <div class="row">
                    <h1 class="page_title">How to play</h1>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="step_box">
                            <img src="{{ asset('images/tmp.png') }}" style="img-responsive" />
                            <div class="step_description">
                                <p class="step_description_title">Step 1</p>
                                <p>Buy a basic farm, unlock early features and start thinking about seeds.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="step_box">
                            <img src="{{ asset('images/tmp.png') }}" style="img-responsive" />
                            <div class="step_description">
                                <p class="step_description_title">Step 2</p>
                                <p>Buy seeds, work like a true farmer and upgrade your farm and equipment.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="step_box">
                            <img src="{{ asset('images/tmp.png') }}" style="img-responsive" />
                            <div class="step_description">
                                <p class="step_description_title">Step 3</p>
                                <p>Become a value farmer, build your own huge farm, which allows you to earn money.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="about">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>About Farming Game</h2>
                        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis 
                            bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet 
                            mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat 
                            auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                        <p>Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. 
                            Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis 
                            neque. Suspendisse in orci enim.</p>
                        <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu 
                            in elit.</p> 
                    </div>
                </div>
            </div>
            <div id="join">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <h3>Join now</h3>
                        {{ render(controller('FOSUserBundle:Registration:register', {'formOnly': 1 })) }}
                        {#{{ form_start(form) }}

                        {#<div class="form-group">
                            <label for="{{ form.username.vars.id }}" class="col-sm-2 col-md-3 control-label {{ form.username.vars.required ? 'required' : '' }}">Name</label>
                            <div class="col-sm-10 col-md-9">
                                {{ form_widget(form.username) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="{{ form.email.vars.id }}" class="col-sm-2 col-md-3 control-label {{ form.email.vars.required ? 'required' : '' }}">E-mail</label>
                            <div class="col-sm-10 col-md-9">
                                {{ form_widget(form.email) }}
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="{{ form.plainPassword.vars.id }}" class="col-sm-2 col-md-3 control-label {{ form.plainPassword.vars.required ? 'required' : '' }}">Password</label>
                            <div class="col-sm-10 col-md-9">
                                {{ form_widget(form.plainPassword) }}
                            </div>
                        </div>
                            
                        <div class="form-group">
                            <label for="{{ form.plainPassword.vars.id }}" class="col-sm-2 col-md-3 control-label {{ form.plainPassword.vars.required ? 'required' : '' }}">Repeat password</label>
                            <div class="col-sm-10 col-md-9">
                                {{ form_widget(form.plainPassword) }}
                            </div>
                        </div>#}

                        {#<div class="form-group">
                            <label for="{{ form.btc_address.vars.id }}" class="col-sm-2 col-md-3 control-label {{ form.btc_address.vars.required ? 'required' : '' }}">BTC Address</label>
                            <div class="col-sm-10 col-md-9">
                                {{ form_widget(form.btc_address) }}
                            </div>
                        </div>#}

                        {#        <div class="form-group">
                                    <div class="col-sm-10 col-md-9 col-sm-offset-2 col-md-offset-3">
                                        <button type="submit" name="register_save" class="btn btn-primary btn-lg">Sign up</button>
                                    </div>
                                </div>
                                <div style="display:none">
                                    {{ form_rest(form) }}
                                </div>#}

                        {#{{ form_widget(form) }}
                        
                        <div class="form-group">
                            <div class="col-sm-10 col-md-9 col-sm-offset-2 col-md-offset-3">
                                <button type="submit" name="register_save" class="btn btn-primary btn-lg">Sign up</button>
                            </div>
                        </div>

                        {{ form_end(form) }}#}
                    </div>
                    <div class="col-xs-12 col-md-5 col-md-offset-1">
                        <h3>Is it worth?</h3>
                        <p class="entry">Yes, of course. What did you expect to read?</p>
                        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem 
                            quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate 
                            cursus a sit amet mauris. Morbi accumsan ipsum velit.</p>
                        <p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class 
                            aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac 
                            urna eu</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}