@import url('https://fonts.googleapis.com/css?family=Open+Sans|Work+Sans:400,600,700');
background{
    background-color: #f5f5f5;
}
#main_header{
    background-color: #71a157;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}
.menu li{
    margin-left: 45px;
}

footer{
    height: 180px;
    background: #161616;
    clear: both;
    margin-top: 30px;
}

/*UNIVERSAL CONTENT THINGS*/

.page_title{
    text-align: center;
    text-size: 36px;
    color: #3e7024;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 60px;
}

#content_page{
    min-height: 650px;
}

.form-inline{
    margin: 10px 0;
}
.form-inline .form-group{
    margin-right: 15px;
}

.form-inline .form-group:last-of-type{
    margin-right: 0;
}

.form-inline label{
    padding-right: 15px;
}

/*WELCOME_BLOCK SECTION*/

#welcome_block{
    margin: 40px 0 60px;
    text-align: center;
}
#welcome_block p{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0 60px;
    color: #f7f6f4;
}

#welcome_title{
    font-family: 'Work Sans', sans-serif;
    font-size: 36px;
    color: #fff0c2;
    text-transform: uppercase;
}

.join_btn{
    padding: 20px 42px;
    border: solid 2px #b1d99b;
    color: #f7f6f4;
}
.join_btn:hover, .join_btn:active, .join_btn:focus{
    background: #b1d99b;
    color: #71a157;
    transition: .8s;
    text-decoration: none;
}

/*HOW_TO_PLAY SECTON*/

#how_to_play{
    margin: 60px 0;
}

.step_box{
    padding: 20px;
    text-align: center;
}


.step_description_title{
    font-size: 24px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    margin: 20px 0 5px;
}
.step_description{
    text-align: justify;
    text-family: 'Open Sans', sans-serif;
}

.step_description p{
    letter-spacing: .04em;
    color: #3c3d3c;
}


/*ABOUT SECTION*/

#about{
    color: #282828;
    text-align: justify;
    margin: 20px 0 60px;
}

#about h2{
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
}

#about p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    letter-spacing: .055em;
}


/*JOIN SECTION*/

#join{
    font-family: 'Open Sans', sans-serif;
    color: #4a4949;
    text-align: justify;
    letter-spacing: .02em;
    margin: 30px 0;
}

#join h3{
    color: #3e7024;
    font-family: 'Work Sans', sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0 40px;
}

.entry{
    font-size: 14px;
    font-weight: 800;
}

/*LOGIN SECTION*/

#login{
    margin: 60px 0;
}

#login h3{
    color: #3e7024;
    font-family: 'Work Sans', sans-serif;
}

/*GAME SPACE*/
/*Universal stuff*/

.user_area, .content_area, .sidebar{
    margin-top: 40px;
    font-family: 'Open Sans', sans-serif;
}

.user_area{
    color: #343434;
}

.sidebar_menu{
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: solid 1px #3e7024;
}

.sidebar_menu a{
    display: block;
    color: #343434;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding: 18px 0;
    border-bottom: solid 1px #3e7024;
}

.sidebar_menu a:hover, .sidebar_menu a:active, .sidebar_menu a:focus{
    text-decoration: none;
    color: inherit;
}
.welcome_paragraph{
    font-size: 15px;
    font-weight: 600;
}

.balance{
    font-weight: bold;
}

.highlight{
    color: #3e7024;
}

.adv{
   height: 400px;
   background-color: rgba(0,0,0,0.25);
}

.table-image{
    max-height: 40px;
}

.table td{
    vertical-align: middle!important;
}

.game_page_title{
    font-size: 24px;
    color: #3e7024;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}

/*SEED SHOP SECTION*/

.seed-shop-input, .market-input{
    display: inline;
    width: 80px;
}

/*OVERVIEW SECTION*/

.overview_description{
    font-family: 'Open Sans', sans-serif;
    color: #4a4949;
    margin: 20px 0;
    letter-spacing: 0.02em;
    text-align: justify;
}

#queue{
    margin-top: 10px;
}

.vegetable{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.seed-image{
    
}

.queue-table, .queue-table th{
    text-align: center;
}

/*ROULETTE SECTION*/ 

#roulette{
    position: relative;
    width: 532px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 20px;
}

.roulette-image{
    width: 2220px;
    height: 75px;
    background: url('../images/roulette.png');
    background-position-x: 0;
}
.roulette-pointer{
    width: 2px;
    height: 95px;
    background: gold;
    position: absolute;
    top: -20px;
    left: 50%;
}

/*UPGRADE SECTION*/

.modal-upgrade{
    text-align: center;
}

.modal-upgrade-image{
    margin-bottom: 20px;
}

#bet{
    display: block;
    margin-top: 20px;
}

.bet-buttons{
    margin-bottom: 20px;
}

.bet-buttons a{
    width: 100%;
    margin-top: 10px;
}

@media (max-width: 767px){
    #welcome_block {
        text-align: center;
    }
}