{% if crops or fertilizer %}
    <h3>Queue</h3>
    <div id="queue" data-active="1">
<div class="table-responsive">
    <table class="table queue-table">
        <thead>
            <tr>
                <th class="col-sm-2 col-md-2">Item</th>
                <th class="col-sm-2 col-md-2">Amount</th>
                <th class="col-sm-3 col-md-2">Finish at</th>
                <th class="col-sm-5 col-md-6">Progress</th>
            </tr>
        </thead>
        <tbody>
        {% for f in fertilizer %}
            <tr class="queue-item">
                <td><img src="{{ asset('images/watering-can.png') }}" class="img-responsive seed-image" /></td>
                <td></td>
                <td class="queue-item-finish" data-sowedat="{{ f.createdAt|date('Y-m-d H:i:s') }}" data-finishat="{{ f.finishAt|date('Y-m-d H:i:s') }}">{{ f.finishAt|date('H:i') }}</td>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                           
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        {% for crop in crops %}
            <tr class="queue-item">
                <td><img src="{{ asset(crop.imageUrl) }}" class="img-responsive seed-image" alt="{{ crop.name }}" /></td>
                <td>{{ crop.amount }}</td>
                <td class="queue-item-finish" data-sowedat="{{ crop.sowedAt|date('Y-m-d H:i:s') }}" data-finishAt="{{ crop.finishAt|date('Y-m-d H:i:s') }}">{{ crop.finishAt|date("H:i") }}</td>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                           
                        </div>
                    </div>
                </td>
        {% endfor %}
        </tbody>
    </table>
</div>
    </div>
{% else %}
    <div id="queue" data-active="0"></div>
{% endif %}