{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    
    <div id="login">
        <div class="col-md-6 col-md-offset-3">
    <h3>Login</h3>

    <form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">{{ 'security.login.username'|trans }}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />
            </div>
        </div>
        
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">{{ 'security.login.password'|trans }}</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" name="_password" required="required" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans }}
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <button type="submit" id="_submit" name="_submit" class="btn btn-primary">{{ 'security.login.submit'|trans }}</button>
            </div>
        </div>
    </form>
        </div>
    </div>

{% endblock fos_user_content %}
