{% extends 'base_game.html.twig' %}

{% block page_title %} {{ page_title }} {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="game_page_title">Market</h1>
        </div>
    </div>
    <div clas="row">
        <div class="col-xs-12">
            {% if items %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>You have</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                        <tr>
                            <td><img src="{{ asset(item.imageUrl) }}" class="img-responsive table-image" /></td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.price }}</td>
                            <td>
                            {% if app.user.vegetables[ item.id ] is defined %}
                                {{ app.user.vegetables[ item.id] }}
                            {% else %}
                                0
                            {% endif %}
                            <td>
                                <input type="number" class="market-input amount-{{ item.id }} form-control" data-item-name="{{ item.name }}">
                                <a class="btn btn-success sell-action" data-id="{{ item.id }}">Sell</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
                <div class="alert alert-info">Seems you can't buy any seeds.</div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('.sell-action').click(function(){
           var id = $(this).attr('data-id');
           var name = $('.amount-' + id).attr('data-item-name');
           var amount = $('.amount-' + id).val();
           
           $.ajax({
               url: "{{ path("game_sell_vegetable") }}",
               method: "POST",
               data: { name: name, amount: amount }
           })
                   .done(function(data){
               location.reload();
                });
        });
    </script>
{% endblock %}
    